@font-face {
  font-family: 'My Favourite Horror Regular';
  font-style: normal;
  font-weight: normal;
  src: local('My Favourite Horror Regular'), url('My Favourite Horror.woff') format('woff');
  }

  h1 {
    font-family: 'My Favourite Horror Regular';
    font-weight: 200;
    color: #0c7ca8;
  }